*.so
*.pyc
*.class
.data/
update_build/
.DS_Store
project.properties
log/
*.log
aadebug.txt
frameworks/runtime-src/proj.android/assets/
frameworks/runtime-src/proj.android/bin/
frameworks/runtime-src/proj.android/obj/
frameworks/runtime-src/proj.android_no_anysdk/assets/
frameworks/runtime-src/proj.android_no_anysdk/bin/
frameworks/runtime-src/proj.android_no_anysdk/obj/
frameworks/runtime-src/proj.android/.settings/
frameworks/runtime-src/proj.android/gen/
frameworks/runtime-src/proj.android/.classpath
frameworks/runtime-src/proj.android/.project
libcocos2dx.jar
frameworks/cocos2d-x/cocos/platform/android/java/bin/AndroidManifest.xml
*.cache
*.properties
*.o
*.o.d
*.a
gdbserver
gdb.setup
*.apk
R.java
*.xcscheme
xcschemes/
xcuserdata/
*.xcworkspacedata
*.zip
